@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900");

body{
    background-color: #56cbf29d;
}
*
{
    font-family : "Poppins" , sans-serif;
    scroll-behavior: smooth;
}


#coustomerDTitile
{
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.userDetails
{
    text-align: left;
    color: 555;
    font-weight: 500;
}
/* ------------------------- Invoice Items Css Section ------------------------- */

.section-header {
    font-family: "Poppins";
    font-weight: normal;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 2.5em;
    padding-bottom: 20px;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: rgb(0, 0, 0);
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(196, 196, 196);
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
    margin-left: -21px;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: rgb(0, 0, 0);

}
.cart-header{
    margin-top: 20px;
    margin-left: -21px;
}
.cart-quantity {
    visibility: hidden;
}

.cart-item-title {
    color: rgb(0, 130, 182);
    margin-left: 1em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    visibility: hidden;
}

.cart-row:last-child .cart-column {
    border: 100;
    border-bottom: 1px solid rgb(255, 0, 140);
}

.cart-total {
    text-align: end;
    margin-top: 30px;
    margin-right: 320px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    margin-right: 20px;
}

.content-section {
    margin: 1em;
    left: 1000px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

#totalOut
{
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 1.3em;
}





body a {
    color: #06f;
}
.companyDetails{
    border-top: 1px solid rgb(196, 196, 196);
    border-bottom: 1px solid rgb(196, 196, 196);
}

.invoice-box {
    background-color: #fff;
    max-width: 800px;
    margin: auto;
    padding: 30px;
    padding-bottom: 1px;
    border-style: double;
    
    font-size: 16px;
    line-height: 24px;
    font-family: sans-serif;
    color: #555;
}

.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
    border-collapse: collapse;
}

.invoice-box table td {
    padding-top: 10px;
    padding-bottom:10px;
    vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
    text-align: right;
}

.bottom
{
    margin-top: 50px;
    border-top: 1px solid rgb(196, 196, 196);

}

#backTo{
    position: relative;
    top: 20px;
    left: 10px;
    padding: 10px 20px;
    background-color: #2D9CDB;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
}
#backTo:hover{
    background-color:#06f; 
}




