/* CSS for main navigation */

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
*{
	padding:0;
	margin:0;
	text-decoration:none;
	list-style:none;
	box-sizing:border-box;
	
}

.selected{
	background-color: #ffffff;
	color: black;
}


nav{
	display: flex;
	background-color: rgba(0,0,0,0.5);
	height:95px auto;
	width:100%;
	overflow: hidden;
	font-family: 'Audiowide', cursive;
	
}
.logo{
	line-height:80px;
	padding:0 auto;
	width:100px;
 	padding: 10px;
	margin-left: 20px;
	padding-bottom: 5px;
}

nav ul{
	position: relative;
    margin-top: 7px;
	margin-right:10px;
	margin-left: auto;
	float: right;
	/* left: 929.5px;
	bottom: 73px; */
}

nav ul li{
	display:inline-block;
	line-height:80px;
	margin:0 5px;
}

nav ul li a{
    font-family : 'Audiowide';
	color:white;
	font-size:17px;
	padding:10px 20px;
	border-radius:40px;
	font-weight:520;
	text-transform:uppercase;
	transition: 1s;
}

nav ul li a:hover{
	background:#ffffff;
	color: black;
}

/* css for gallery */

.gallery{
	padding:20px;
}
.gallery-item{ /* css for gallery item*/
	font-family: 'Roboto Condensed', sans-serif;
	background-color: white;
	float: left;
	margin: 15px;
	border-radius: 20px;
	width: 17%;
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
	text-align: center;
	transition: .5s ease;
}

.gallery-image{ /* gallery image*/
	border-radius: 20px 20px 0px 0px;
}
.gallery-item:hover{ /* gallery item zoom on hover*/
	cursor: pointer;
	transform: scale(1.1);
	box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.75);
}


.form{ /* form css*/
	margin-top:380px;
	font-family: 'Roboto Condensed', sans-serif;
	clear: both;
	background-color: #fcc90e;
	border-radius: 10px;
	padding: 20px;
	font-size: 17px;
}
option{ /* form css*/
	background-color: white;
	font-size: 17px;
	padding:10px;
	font-family: 'Roboto Condensed', sans-serif;
}

.align{/* form css*/
	margin-right: 4%;
	text-align: left;
}


input[type=reset], #destinations, #fontColor{/* form css*/
	padding: 10px;
	border: none;
	background-color: white;
	border-radius: 10px;
}


#bigImage-div{/* big image styles*/
	float: left;
	width: 45%;
}
#bigImage-description-div{/* big image description */
	font-family: 'Roboto Condensed', sans-serif;
	padding-top: 10px;
	float: left;
	width: 44%;
	text-align: justify;
}
#bigImage-description-div a{/* anchors inside big image description */
	border-radius:5px;
	padding: 10px;
	background-color:black;
}


#gallery-display{/* hide the big image area- to display using js */
	display: none;
}

#big-image{/* big image  */
	padding: 20px;
	display: block;
	text-align: left;
	
	
}




